<%= form_with(model: quiz, class: "#{get_form_class} bg-white p-6 rounded-lg shadow-md") do |form| %>

  <!-- Formas title - tiek padots kÄ "local" -->
  <% if form_action == "create" %>
    <h1 class="text-2xl font-bold text-gray-800 mb-6">Create a New Quiz</h1>
  <% elsif form_action == "edit" %>
    <h1 class="text-2xl font-bold text-gray-800 mb-6">Edit Quiz</h1>
    <%= link_to 'Manage questions', quiz_questions_path(@quiz), class: get_btn_class %>
  <% end %>

  <div class="mb-4">
    <%= form.label :title, class: "block text-sm font-medium text-gray-700 mb-1" %>
    <%= form.text_field :title, placeholder: "Enter quiz title", class: "w-full border border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm px-3 py-2" %>
  </div>

  <div class="mb-6">
    <%= form.label :description, class: "block text-sm font-medium text-gray-700 mb-1" %>
    <%= form.text_area :description, placeholder: "Tell us what your quiz is about...", class: "w-full border border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm px-3 py-2 min-h-[150px] max-h-[250px]" %>
  </div>
  
  <div class="flex justify-between items-center">
    <%= link_to 'Back', :back, class: get_btn_class %>
    <%= form.submit "Save", class: get_btn_class %>
  </div>
<% end %>
