<section class="px-6 py-8">
  <div class="flex justify-between mb-6">
    <h3 class="text-2xl font-semibold">Quiz questions (<%= @quiz.questions.size %>)</h3>
    <%= link_to "Export Results to CSV", export_results_quiz_path(@quiz), class: get_btn_class %>
  </div>

  <div class="space-y-6">
    <% @quiz.questions.each do |question| %>
      <div class="p-4 rounded-lg border border-gray-900 bg-white shadow-sm">
        <div class="flex justify-between items-start">
          <div>
            <h4 class="text-xl font-bold text-gray-900"><%= question.question_text %></h4>
          </div>
        </div>

        <ul class="mt-2 flex flex-wrap justify-between">
          <% question.answers.each do |answer| %>
            <% if @user_score && @user_score.answers.present? %>
              <% selected_answer_id = @user_score.answers[question.id.to_s] %>
              <% correct_class = answer.correct ? 'bg-green-100' : 'bg-red-100' %>
              <% default_class = answer.correct ? 'bg-green-50' : 'bg-gray-100' %>
              <% answer_class = answer.id.to_s == selected_answer_id ? correct_class : default_class %>

              <% selected_class = answer.id.to_s == selected_answer_id ? (answer.correct ? 'font-semibold text-green-600' : 'font-semibold text-red-600') : (answer.correct ? 'font-semibold text-green-600' : 'text-gray-700') %>
            <% else %>
              <% answer_class = 'bg-gray-100' %>
              <% selected_class = 'text-gray-700' %>
            <% end %>

            <li class="w-full md:w-1/2 lg:w-1/4 p-2">
              <div class="flex items-center justify-center h-full p-4 border border-gray-300 rounded-lg <%= answer_class %>">
                <p class="text-gray-700 <%= selected_class %>">
                  <%= answer.answer_text %>
                </p>
              </div>
            </li>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>
  <div class="mt-10">
    <%= link_to "Back to Quiz", quiz_path(@quiz), class: get_btn_class %>
  </div>
</section>
