<%# app/views/users/show.html.erb %>
<section class="px-4 py-6 lg:px-8 lg:py-8 bg-gray-50">
  <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
    <div>
      <h3>My quizzes</h3>
      <%= link_to "Create Quiz", new_quiz_path, class: get_btn_class %>
      <% if @quizzes.any? %>
        <div class="overflow-x-auto rounded-lg border border-gray-200">
          <table id="quizzes" class="min-w-full divide-y-2 divide-gray-200 bg-white text-sm">
            <thead class="text-left">
              <tr>
                <th class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">Quiz name</th>
                <th class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">Date</th>
              </tr>
            </thead>
            <tbody class="divide-y divide-gray-200">
              <% @quizzes.each do |quiz| %>
                <tr>
                  <td class="whitespace-nowrap px-4 py-2 text-gray-900"><%= link_to "#{quiz.title}", quiz_path(quiz.id) %></td>
                  <td class="whitespace-nowrap px-4 py-2 text-gray-900"><%= quiz.created_at %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>

        <%= render 'kaminari/paginator', paginator: @quizzes, paginator_param_name: :quizzes_page %>
      <% else %>
        <p class="text-gray-500 px-4 py-2">No quizzes available.</p>
      <% end %>
    </div>

    <div>
      <h3>My results</h3>
      <% if @results.any? %>
        <div class="overflow-x-auto rounded-lg border border-gray-200">
          <table id="results" class="min-w-full divide-y-2 divide-gray-200 bg-white text-sm">
            <thead class="text-left">
              <tr>
                <th class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">Quiz name</th>
                <th class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">Score</th>
              </tr>
            </thead>
            <tbody class="divide-y divide-gray-200">
              <% @results.each do |result| %>
                <tr>
                  <td class="whitespace-nowrap px-4 py-2 text-gray-900"><%= result.quiz.title %></td>
                  <td class="whitespace-nowrap px-4 py-2 text-gray-900"><%= result.score %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>

        <%= render 'kaminari/paginator', paginator: @results, paginator_param_name: :results_page %>

      <% else %>
        <p class="text-gray-500 px-4 py-2">No results available.</p>
      <% end %>
    </div>
  </div>
</section>
