<h1>Share Quiz: <%= @quiz.title %></h1>

<%= form_tag([@quiz, :quizlink], method: :post) do %>
  <div>
    <%= label_tag :emails, "Email Addresses (comma-separated):" %>
    <%= text_area_tag :emails, nil, rows: 3, placeholder: "example1@email.com, example2@email.com" %>
  </div>
  <%= submit_tag "Send Quiz Link" %>
<% end %>