<header class="bg-gray-800 px-4 py-10 relative z-20">
  <nav class="container mx-auto flex justify-between items-center">
    <div class="text-white text-lg font-semibold">
      <%= link_to "Quizzes on Rails", root_path, class: "hover:text-gray-300" %>
    </div>
    <ul class="flex space-x-4">
      <% if user_signed_in? %>
        <li class="text-white">
          <%= link_to "Welcome, #{current_user.username}", user_path(current_user), class: "hover:text-gray-300" %>
        </li>
        <li>
          <%= link_to edit_user_registration_path do%>
              <%= raw user_settings_svg(24, 24) %> 
          <% end %>
        </li>
        <li>
          <%= button_to destroy_user_session_path, method: :delete do %>
            <%= raw log_out_svg(24, 24) %> 
          <% end %>
        </li>
      <% else %>
        <li>
          <%= link_to "Sign Up", new_user_registration_path, class: "text-white hover:text-gray-300" %>
        </li>
        <li>
          <%= link_to "Login", new_user_session_path, class: "text-white hover:text-gray-300" %>
        </li>
      <% end %>
    </ul>
  </nav>
</header>
